@page
@model CwuAdvising.Pages.AdvisingModel
@{
    ViewData["Title"] = "Advising";
}
<script src="~/js/Advising.js"></script>
<div style="border: thin solid black; font-size: 1.5em; display: inline-block; margin: auto;">
    Student: @DemoController.StudentName<br />
    ID: @DemoController.StudentID<br />
    Starting Quarter: @DemoController.StudentQuarter @DemoController.StudentYear<br />
    Degree: @DemoController.StudentDegree<br />
                                         <p>
                                             Import Transcript:<br />
                                             <input name="myFile" type="file">
                                             <input type="submit" value="Import" />
                                         </p>
</div>

<div id="QuarterContainer" class="PageRow CenterFlex" style="min-width: 600px;">
    <div class="Quarter Border" quarterId="4">
        <div class="Title">Fall 17</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="UNIV 101" credits="1" offered="134">UNIV 101</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="MATH 153" credits="5" offered="134">MATH 153</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="ENG 101" credits="5" offered="134">ENG 101</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 112" credits="4" offered="134">CS 112</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="1">
        <div class="Title">Winter 18</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="MATH 154" credits="5" offered="134">MATH 154</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 110" credits="4" offered="134">CS 110</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="ENG 102" credits="5" offered="134">ENG 102</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="COMPUTING" credits="5" offered="134">COMPUTING</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="2">
        <div class="Title">Spring 18</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="MATH 172" credits="5" offered="134">MATH 172</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 111" credits="4" offered="134">CS 111</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 1" credits="5" offered="134">BREADTH 1</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="4">
        <div class="Title">Fall 18</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 301" credits="4" offered="134">CS 301</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 311" credits="4" offered="134">CS 311</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 2" credits="5" offered="134">BREADTH 2</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 3" credits="5" offered="134">BREADTH 3</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="1">
        <div class="Title">Winter 19</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 302" credits="4" offered="134">CS 302</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 312" credits="4" offered="134">CS 312</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 325" credits="3" offered="134">CS 325</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 4" credits="5" offered="134">BREADTH 4</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="2">
        <div class="Title">Spring 19</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="MATH 260" credits="5" offered="134">MATH 260</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 446" credits="4" offered="134">CS 446</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 5" credits="5" offered="134">BREADTH 5</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="4">
        <div class="Title">Fall 19</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 361" credits="4" offered="134">CS 361</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="MATH 330" credits="5" offered="134">MATH 330</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 6" credits="5" offered="134">BREADTH 6</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="1">
        <div class="Title">Winter 20</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 362" credits="4" offered="134">CS 362</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 470" credits="4" offered="134">CS 470</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS ELECTIVE 1" credits="4" offered="134">CS ELECTIVE 1</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="2">
        <div class="Title">Spring 20</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 380" credits="4" offered="134">CS 380</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 420" credits="4" offered="134">CS 420</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS ELECTIVE 2" credits="4" offered="134">CS ELECTIVE 2</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 7" credits="5" offered="134">BREADTH 7</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="4">
        <div class="Title">Fall 20</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 480" credits="4" offered="134">CS 480</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 427" credits="4" offered="134">CS 427</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="UNIV ELECTIVE 1" credits="5" offered="134">UNIV ELECTIVE 1</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 392" credits="1" offered="134">CS 392</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="1">
        <div class="Title">Winter 21</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 481" credits="4" offered="134">CS 481</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 8" credits="5" offered="134">BREADTH 8</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS ELECTIVE 3" credits="4" offered="134">CS ELECTIVE 3</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="UNIV ELECTIVE 2" credits="5" offered="134">UNIV ELECTIVE 2</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>

    <div class="Quarter Border" quarterId="2">
        <div class="Title">Spring 21</div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 489" credits="1" offered="134">CS 489</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS 492" credits="2" offered="134">CS 492</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="BREADTH 9" credits="5" offered="134">BREADTH 9</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS ELECTIVE 4" credits="4" offered="134">CS ELECTIVE 4</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><select class="CourseSelection WideFlex"><option value="CS ELECTIVE 5" credits="4" offered="134">CS ELECTIVE 5</option></select><span class="DeleteCourse WideFlex ">X</span></div>
        <div class="Flex MiddleFlex"><span class="AddCourse WideFlex">+</span></div>
    </div>
</div>

<div class="CenterFlex">
    <div class="Block">
        <div class="Title" id="RemainingRequirements">&nbsp;</div>

        <ul id="RemainingRequirementsList"></ul>
    </div>
</div>

<div class="Flex CenterFlex">
    <a href="#" class="DivButton">Add Additional Quarter</a>
    <a href="#" class="DivButton" id="GenerateButton">Generate Remaining Courses</a>
    <a href="#" class="DivButton">Print</a>
</div>
