@page
@model CwuAdvising.Pages.AdvisingModel
@{
    ViewData["Title"] = "Advising";
}


@{ 
    var StudentName = "Not found";
    var StudentID = "Not found";
    var StudentQuarter = "Not found";
    var StudentYear = "Not found";
    var StudentDegree = "Not found";
    var DisplayStudent = false;
    if(AdvisingModel.CurrentStudent != null)
    {
        StudentName = AdvisingModel.CurrentStudent.Name;
        StudentID = AdvisingModel.CurrentStudent.ID;
        StudentQuarter = AdvisingModel.CurrentStudent.Quarter;
        StudentYear = AdvisingModel.CurrentStudent.Year;
        StudentDegree = AdvisingModel.CurrentStudent.Degree;
        DisplayStudent = true;

    }
}

<script>
    var ExampleSchedule = '@Html.Raw(AdvisingModel.ExampleSchedule)';
    var BaseCase = '@Html.Raw(AdvisingModel.LoadBaseCase())';

    $(document).ready(function () {
        $("#Loading").hide();
        $("#AdvisingContainer").hide();
        $("#NotFound").hide();

        if (StringMatch("@DisplayStudent", "True")) {
            $("#AdvisingContainer").show();
        } else {
            $("#NotFound").show();
        }
    });


</script>
<script src="~/js/Advising.js"></script>

<div id="Loading">
    <div class="PrereqPopup">&nbsp;</div>
    <div id="LoadingBox">
        <div class="Title">Loading</div>
        <div>Please wait while the schedule is generated. This box will close automatically when the operation is complete.</div>
    </div>
</div>

<div id="NotFound" class="Title" style="color: red;">
    <h1>Error, student not found</h1>
</div>

<div id="AdvisingContainer">
    <div style="border: thin solid black; font-size: 1.5em; display: inline-block; margin: auto;">
        Student: @StudentName<br />
        ID: @StudentID<br />
        Starting Quarter: @StudentQuarter @StudentYear<br />
        Degree: @StudentDegree<br />
        <p>
            Import Transcript:<br />
            <input name="myFile" type="file">
            <input type="submit" value="Import" />
        </p>
    </div>


    <div class="CenterFlex">
        <div id="QuarterContainer" class="CenterFlex">
            &nbsp;
        </div>
    </div>

    <div class="CenterFlex">
        <button type="button" class="RegularButton" id="AddQuarter">Add Quarter</button>
    </div>
    <div class="CenterFlex">
        <div class="Block">
            <div class="Title" id="RemainingRequirements">&nbsp;</div>

            <ul id="RemainingRequirementsList"></ul>
        </div>
    </div>

    <div class="Flex CenterFlex">
        <div class="Block Border">
            <div class="Title">Constraints</div>

            <div class="Flex" style="line-height: 30px;">
                <div style="width: 250px;">Minimum Credits per quarter:</div>
                <div><input type="text" id="MinCredits" style="width: 60px;" value="0" /></div>
            </div>

            <div class="Flex" style="line-height: 30px;">
                <div style="width: 250px;">Maximum Credits per quarter:</div>
                <div><input type="text" id="MaxCredits" style="width: 60px;" value="0" /></div>
            </div>

            <div class="Flex" style="line-height: 30px;">
                <div style="width: 250px;">Taking Summer Courses:</div>
                <div><input type="checkbox" id="TakingSummerCourses" /></div>
            </div>
        </div>
    </div>

    <div>
        <div class="Flex CenterFlex">
            <button type="button" class="RegularButton" id="LoadBaseCaseButton">Load Base Case</button>
            <button type="button" class="RegularButton" id="SaveBaseCaseButton">Save Base Case</button>
        </div>

        <div class="Flex CenterFlex">
            <button type="button" class="RegularButton" id="GenerateButton">Generate Schedule</button>
            <button type="button" class="RegularButton" id="PrintButton">Print</button>
            <button type="button" class="RegularButton" id="SaveButton">Save Schedule</button>
        </div>
    </div>
</div>